@model BLL.Brand

@{
    ViewBag.Title = "DeleteBrand";
    Layout = "~/Views/Shared/_ProductAdminLayout.cshtml";
}
@using (Html.BeginForm()) {
<h2>DeleteBrand</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Brand</legend>
    @Html.HiddenFor(model => model.Brand_Id)
    <div class="display-label">
         @Html.LabelFor(model => model.Brand_Name,"Brand Name")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand_Name)
    </div>
</fieldset>

    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Brand")
    </p>
}
